package {{package}};

{{#imports}}import {{import}};
{{/imports}}

public class {{name}} {
{{#properties}}
  {{#description}}
  /* {{&description}} */
  {{/description}}
  private {{type}} {{name}}
  public {{type}} {{getter}}(){
    return this.{{name}};
  }
  public void {{setter}}({{type}} {{name}}){
    this.{{name}} = {{name}};
  }
{{/properties}}
}
