package {{&package}};
{{newline}}
{{#imports}}import {{&import}};
{{/imports}}
{{newline}}
public class {{&name}} {
    {{newline}}
    {{#properties}}
    {{#description}}/* {{&.}} */
    {{/description}}
    private {{#type}}{{&name}} {{/type}}{{&name}};
    {{/properties}}
    {{newline}}
    public {{&name}}({{#properties}}{{#type}}{{&name}} {{/type}}{{&name}}{{#hasNext}}, {{/hasNext}}{{/properties}}) {
        {{#properties}}
        this.{{&name}} = {{&name}};
        {{/properties}}
    }
    {{#properties}}
    {{newline}}
    public {{#type}}{{&name}} {{/type}}{{&getter}}() {
        return this.{{&name}};
    }
    {{newline}}
    public void {{&setter}}({{#type}}{{&name}} {{/type}}{{&name}}) {
        this.{{&name}} = {{&name}};
    }
{{/properties}}
}