package {{&package}};
{{newline}}
{{#imports}}import {{&import}};
{{/imports}}
{{newline}}
public class {{&name}} {
    {{newline}}
    {{#properties}}
    {{#description}}/* {{&.}} */
    {{/description}}
    private {{#type}}{{&typeName}} {{/type}}{{&propertyName}};
    {{/properties}}
    {{newline}}
    public {{&name}}() {
    }
    {{newline}}
    public {{&name}}({{#properties}}{{#type}}{{&typeName}} {{/type}}{{&propertyName}}{{#hasNext}}, {{/hasNext}}{{/properties}}) {
    {{#properties}}
        this.{{&propertyName}} = {{&propertyName}};
    {{/properties}}
    }
    {{#properties}}
    {{newline}}
    public {{#type}}{{&typeName}} {{/type}}{{&getter}}() {
        return this.{{&propertyName}};
    }
    {{newline}}
    public void {{&setter}}({{#type}}{{&typeName}} {{/type}}{{&propertyName}}) {
        this.{{&propertyName}} = {{&propertyName}};
    }
{{/properties}}
{{newline}}
    @Override
    public String toString()  {
        StringBuilder sb = new StringBuilder();
        sb.append("class {{&name}} {\n");
        {{#properties}}
        sb.append("  {{&propertyName}}: ").append({{&propertyName}}).append("\n");
        {{/properties}}
        sb.append("}\n");
        return sb.toString();
    }
}