#import <Foundation/Foundation.h>
#import <AFNetworking.h>
{{newline}}
{{#imports}}#import "{{&import}}.h"
{{/imports}}
{{newline}}
@class {{&name}};
{{newline}}
@protocol {{&name}}Delegate <NSObject>
{{newline}}
@optional;
{{#operations}}
{{newline}}
- (void) {{&operationName}}Sucess{{#return}}{{#hasReturn}}:({{#type}}{{&typeName}}{{^isPrimitive}}*{{/isPrimitive}}){{&returnName}}{{/type}}{{/hasReturn}}{{/return}};
{{/operations}}
{{newline}}
- (void) onError:(NSURLRequest*)request :(NSHTTPURLResponse*)response :(NSError*)error;
{{newline}}
@end
{{newline}}
@interface {{&name}} : NSObject
{{newline}}
@property(unsafe_unretained, nonatomic) id <{{&name}}Delegate> delegate;
{{#operations}}
{{newline}}
{{#description}}/* {{&.}} */
{{/description}}
{{#notes}}// {{&.}}
{{/notes}}
- (void) {{&operationName}}{{#parameters}}:({{#type}}{{&typeName}}{{^isPrimitive}} *{{/isPrimitive}}{{/type}}){{&parameterName}} {{/parameters}};
{{/operations}}
{{newline}}
@end