#import <Foundation/Foundation.h>
#import "SWObject.h"
{{#imports}}#import "{{&import}}.h"
{{/imports}}
{{newline}}
@interface {{&name}} : SWObject
{{#properties}}
{{newline}}
@property(nonatomic,{{#type}}{{#isPrimitive}}assign{{/isPrimitive}}{{^isPrimitive}}strong{{/isPrimitive}}{{/type}}) {{#type}}{{&typeName}} {{^isPrimitive}}* {{/isPrimitive}}{{/type}}{{&propertyName}};{{#description}} /* {{&description}} */{{/description}}
{{/properties}}
{{newline}}
@end
